.page {
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    background: #202020;
    color: #fff;
    margin: 0 auto;
}
.article__caption {
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    position: relative;
}
.article__caption::after {
    content: " ";
    background: #333333;
    width: 50px;
    height: 1px;
    /* размещаем линию снизу и справа*/
    bottom: 15px;
    right: 20px;
    /* включаем абсолютное позиционирование относительно блока с relative */
    position: absolute;
}