.techs {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    padding: 100px 70px;
    justify-content: center;
    background: #272727;
}
.techs__container {
}

.techs__header {
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px; /* 116% */
    letter-spacing: -2px;
    text-align: center;
    margin: 90px auto 26px;
}
.techs__text {
    text-align: center;
    width: 460px;
    justify-self: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.56px;
    margin: auto;
}
.techs__list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    margin: 100px auto 0px;
    padding: 0;
}
.techs__listitem {
    border-radius: 10px;
    background: #303030;
    width: 90px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 10px;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.techs__listitem:last-of-type {
    margin-right: 0;
}

@media screen and (max-width:768px) {
    .techs {
        max-width: 100%;
        padding: 90px 50px;
    }
    .techs__header {
        margin: 80px auto 22px;
    }
    .techs__text {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 150% */
        letter-spacing: -0.48px;
    }
    .techs__list {
        margin: 83px auto 0px;
    }
    .techs__listitem {
        width: 84px;
        height: 57px;
        font-size: 12px;
        letter-spacing: -0.48px;
    }
}

@media screen and (max-width:320px) {
    .techs {
        padding: 58px 18px;
    }
    .techs__header {
        margin: 48px auto 12px;
        font-size: 30px;
        letter-spacing: -1.2px;
    }
    .techs__text {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 145.455% */
        letter-spacing: -0.44px;
        width: 100%;
    }
    .techs__list {
        margin: 50px auto 0px;
        width: 178px;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .techs__listitem {
        margin-right: 0px;
        margin-bottom: 10px;
        width: 84px;
        height: 57px;
    }
}