.header {
    background-color: #073042;
    max-width: 1280px;
    height: 74px;
    display: flex;
    flex-direction: row;
}
.header__container {
    display: flex;
    width: 100%;
    max-width: 1140px;
    height: 74px;
    margin: 0px 70px;
    justify-content: space-between;
    align-items: center;

}
.header__login {
    width: 183px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header__button {
    border:0;
    padding: 8px 20px;
    border-radius: 3px;
    background: #3DDC84;
    margin-left: 0px;
    color: #000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}
.header__link {
    color: #fff;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
}