.footer {
    background: #202020;
    display: flex;
    flex-direction: column;
    margin: 75px 70px 0;
    align-items: center;
}
.footer__caption {
    margin:0 0 20px;
    color: #8B8B8B;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 320px;
}
.footer__links-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    height: 56px;
    border-top: 1px solid #424242;
}
.footer__copyright {
    margin:0;
    display: flex;
    align-items:center;
}
.footer__navlist {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items:center;
}
.footer__navlist-item {
    margin-left: 20px;
}

@media screen and (max-width:768px) {
    .footer {
        margin: 75px 30px 0;
    }
}
@media screen and (max-width:320px) {
    .footer {
        margin: 50px 14px 0;
    }
    .footer__caption {
        font-size: 12px;
        margin-bottom: 52px;
    }
    .footer__links-container {
        margin-top: 30px;
        flex-direction: column-reverse;
    }
    .footer__navlist {
        flex-direction: column;
        font-size: 12px;
        margin: 0 auto;
    }
    .footer__copyright {
        margin: 0 auto;
    }
    .footer__navlist-item {
        margin:0 auto 20px;
    }

}