.promo {
    max-width: 100%;
    height: 560px;
    background: #073042;
    overflow: hidden;
}
.promo__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 70px;
}
.promo__title {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px; /* 130% */
    letter-spacing: -1.6px;
    width: 626px;
    height: 104px;
    margin: 50px 0 0;
    text-align: left;
    width: 100%;
    max-width: 626px;
}
.promo__img {
    fill: #FFF;
    margin-top:102px;
    opacity: 0.699999988079071;
    align-self: end;
    background-repeat: no-repeat;
    width: 722px;
    height: 244px;
    background-image: url('../../../images/promo.svg');
}

@media screen and (max-width:768px) {

    .promo {
        height: 844px;
    }

    .promo__container {
        margin: 0 auto;
    }

    .promo__title {
        margin: 300px auto 0;
        text-align: center;
    }
    .promo__img {
        width: 100%;
        margin:140px auto 0;
        width: 680px;
        height: 230px;
        display:flex;
        align-items: center; 
        background-position: center;
        background-size: cover;
    }
}

@media screen and (max-width:320px) {

    .promo {
        height: 630px;
    }

    .promo__container {
        margin: 0 auto;
    }

    .promo__title {
        margin: 183px auto 0;
        text-align: center;
        font-size: 31px;
        line-height: 39px; /* 125.806% */
        letter-spacing: -1.24px;
        max-width: 300px;
    }
    .promo__img {
        margin-top:70px;
    }
}